@import url('https://fonts.googleapis.com/css?family=Abel');

body {
  background-color: #f3f3f3;
  font-family: 'Abel', sans-serif;
  color: #555;
}

html, body #app {
  height: 100vh;
}

hr {
  background-color: #ddd;
}

.btn {
   background-color: #FFF; 
   color: #555; 
   font-family: 'Abel', sans-serif;
   border-radius: 0%;
   border: 2px solid transparent;
   border-image: linear-gradient(to right, #f857a6, #ff5858);
   border-image-slice: 1;
}

ul {
  margin: 0;
}

a:link, a:visited, a:active {
  color: #f857a6;
  text-decoration: none;
}

a:hover {
  color: #ff5858;
  text-decoration: none;
}

code {
  color: #f857a6;  
  font-size: 0.75em;
}
