.brand {
    background: linear-gradient(90deg, #f857a6, #ff5858);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bar {
    background-color: #f3f3f3;
    transition: background-color 0.5s ease;
}

.barTranslucent {
    background-color: rgba(255, 255, 255, 0.9);
}

.container {
    @media (max-width: 576px) { 
        max-width: 100% !important;
        margin: 0 !important;
    }
}

.navButtonHover:hover {
    color: #FFF !important;
    background: linear-gradient(90deg, #f857a6, #ff5858);
}

.navButton {
    color: #555 !important; 
    composes: navButtonHover;
    padding: 10px 15px 10px 15px !important;
}